
    body{
      background-color:#333;
        
        
       color: white;
    }
    .container{
     display: flex;
flex-direction: column;
  }
  .content {
    display: flex;
  }
  header {
    border-bottom:  1px solid white
  }
  footer{

  }
  ul{
      border: 1px solid white;
      width: 150px;
      height: 250px;
        
  }
  ul a{
    display: inline-block;
    color: white;
      text-decoration: none;

  }
        main{
           margin: 50px
        
        }
        a  {
            margin: 10px;
            margin-bottom: 20px
            
                
          
        }
        a:hover{
            font-size: 20px ;
            background: gray;
            
        }
        .main{
            margin: 10px;
            position: absolute;
            left: 40%;
                
        }
img{width: 1100px;
    height: 300px;
    margin-top: 100px;
     position: absolute;
           left: 20%;
    
    

}
footer {
    margin-top: 450px;
    margin-left: 250px;
}

.in{
    margin-left: 450px
}